<form [formGroup]="model" novalidate class="form-horizontal">
  <div class="row form-group">
    <div class="col-md-12">
      <div class="col-md-4">
        <label for="Name" class="control-label">Name ({{ Name}})</label>
      </div>
      <input type="text" formControlName="Name" name="Name" [(ngModel)]="Name" class="form-control">
    </div>
  </div>
</form>