<div class="row">
  
    
    <div class="col-md-6">
        <app-User-Detail></app-User-Detail>
    </div>
    <div class="col-md-6">
        <app-account-detail></app-account-detail>
    </div>

</div>