<h3 class="dptitle">
  User Details
</h3>


<form [formGroup]="userDetailForm">

  <div class="row form-group">
    <div class="col-md-4">
      <label for="fullname" class="control-label">Full Name</label>
    </div>
    <div class="col-md-7">
      <input type="text" class="form-control" formControlName="fullname">
      <div class="text-danger"
        *ngIf="userDetailForm.get('fullname').hasError('required') &&(userDetailForm.get('fullname').dirty || userDetailForm.get('fullname').touched) ">
        Full Name Field Required
      </div>
    </div>

  </div>
  <div class="row form-group">
    <div class="col-md-4">
      <label for="bio" class="control-label">bio</label>
    </div>
    <div class="col-md-7">
      <input type="text" class="form-control" formControlName="bio">
      <div class="text-danger"
        *ngIf="userDetailForm.get('bio').hasError('required') &&(userDetailForm.get('bio').dirty || userDetailForm.get('bio').touched) ">
        bio Field Required
      </div>

    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-4">
      <label for="birthday" class="control-label">birthday</label>
    </div>
    <div class="col-md-7">
      <input type="text" class="form-control" formControlName="birthday">
      <div class="text-danger"
        *ngIf="userDetailForm.get('birthday').hasError('required') &&(userDetailForm.get('birthday').dirty || userDetailForm.get('birthday').touched) ">
        birthday Field Required

      </div>
    </div>

  </div>

  <div class="row form-group">
    <div class="col-md-4"></div>
    <div class="col-md-7  ">
      <button class="btn btn-primary col-md-12 " [disabled]="!userDetailForm.valid">Submit</button>
    </div>

  </div>

</form>