<!-- Nav Component -->
<app-Nav></app-Nav>

<!-- End of Nav Component -->
<!-- Content Go Here With Dynamically Rendered Components-->

<!--Main Layout-->


<div class="container-fluid">
  <div class="row flex-xl-nowrap"> 
    <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
        <app-SideBar></app-SideBar>
    </div>

    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
     <div>
        <router-outlet> </router-outlet>
     </div>
      
    </main>

  </div>


</div>




<!--Main Layout-->