 <form class="bd-search d-flex align-items-center">
        <span class="algolia-autocomplete" style="position: relative; display: inline-block; direction: ltr;"><input
            type="search" class="form-control ds-input" id="search-input" placeholder="Search..."
            aria-label="Search for..." autocomplete="off" data-docs-version="4.3" spellcheck="false" role="combobox"
            aria-autocomplete="list" aria-expanded="false" aria-owns="algolia-autocomplete-listbox-0" dir="auto"
            style="position: relative; vertical-align: top;">
          <pre aria-hidden="true"></pre>
          <span class="ds-dropdown-menu" role="listbox" id="algolia-autocomplete-listbox-0"
            style="position: absolute; top: 100%; z-index: 100; left: 0px; right: auto; display: none;">
            <div class="ds-dataset-1"></div>
          </span></span>
        <button class="btn btn-link bd-search-docs-toggle d-md-none p-0 ml-3 collapsed" type="button"
          data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false"
          aria-label="Toggle docs navigation"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
            viewBox="0 0 30 30" role="img" focusable="false">
            <title>Menu</title>
            <path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"
              d="M4 7h22M4 15h22M4 23h22"></path>
          </svg></button>
      </form>

      <nav class="bd-links collapse" id="bd-docs-nav">
        <div class="bd-toc-item">
          <a class="bd-toc-link" href="/docs/4.3/getting-started/introduction/">
            Getting started
          </a>

          
        </div>
        <div class="bd-toc-item">
          <a class="bd-toc-link" href="/docs/4.3/layout/overview/">
            Layout
          </a>

          
        </div>
        <div class="bd-toc-item">
          <a class="bd-toc-link" href="/docs/4.3/content/reboot/">
            Content
          </a>

         
        </div>
        <div class="bd-toc-item active">
          <a class="bd-toc-link" href="/docs/4.3/components/alerts/">
            Components
          </a>

        
        </div>
        <div class="bd-toc-item">
          <a class="bd-toc-link" href="/docs/4.3/utilities/borders/">
            Utilities
          </a>
 
        </div>
        <div class="bd-toc-item">
          <a class="bd-toc-link" href="/docs/4.3/extend/approach/">
            Extend
          </a>
 
        </div>
        <div class="bd-toc-item">
          <a class="bd-toc-link" href="/docs/4.3/migration/">
            Migration
          </a>

       
        </div>
        <div class="bd-toc-item">
          <a class="bd-toc-link" href="/docs/4.3/about/overview/">
            About
          </a>

          <!-- <ul class="nav bd-sidenav">
            <li>
              <a href="/docs/4.3/about/overview/">
                Overview
              </a>
            </li>
            <li>
              <a href="/docs/4.3/about/team/">
                Team
              </a>
            </li>
            <li>
              <a href="/docs/4.3/about/brand/">
                Brand
              </a>
            </li>
            <li>
              <a href="/docs/4.3/about/license/">
                License
              </a>
            </li>
            <li>
              <a href="/docs/4.3/about/translations/">
                Translations
              </a>
            </li>
          </ul> -->
        </div>
      </nav>
