<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar collapsein">
 
  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">

      <li class="nav-item">
        <a class="nav-link " [routerLink]="['/products']" routerLinkActive="active">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " [routerLink]="['/products/Create']" routerLinkActive="active">Create Product</a>
      </li>
      <li>
        <a [routerLink]="['/products/FormDemo']" routerLinkActive="router-link-active"  class="nav-link">Form Demo</a>
      </li>
    </ul>
  </div>
</header>